*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.main-div{
    position: relative;
    height: 100vh; /* For 100% screen height */
    width:  98vw; /* For 100% screen width */
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto';
    margin: 20px auto;
}

.nav-items{
    display: flex;
}

.nav-item{
   padding:0 20px;
   z-index: 100;
}

.signin-btn{
    height: 25px;
    width: 70px;
    border-radius: 20px;
    border: none;
    font-family: 'Roboto';
    background: linear-gradient(90deg, #965cf2, #ff8adc);
    color: white;
}

.intro-section{
    position: relative;
    height: 80%;
    width: 100%;
}

.left-section{
    position: relative;
    float: left;
    width: 50%;
    left :100px;
    top:100px;
    font-family: 'Roboto';
}

.left-section h1{
    font-size: 40px;
}

.left-section h4{
    position: relative;
    top:50px;
    font-size: 13px;
    width:250px;
    color: gray;
}

.learn-more-btn{
    position: relative;
    top:100px;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: 'Roboto';
    background: linear-gradient(90deg, #965cf2, #ff8adc);
}

.imgs-div{
    background-image: url( '/images/backcover.svg' );
    border-bottom-left-radius: 190px;
    color: white;
    position: relative;
    top:-90px;
    width: 760px;
    height: 600px;
    left: 510px;
}

.intro-img{
    position: relative;
    width: 540px;
    height: 500px;
    right: -10px;
    top:-50px
}

.vector-img{
    position: relative;
    bottom: -470px;
    width: 80px;
    right: 650px;
}

.vector-dot{
    position: relative;
    top: 400px;
    width: 15px;
    right: 690px;
}